{% extends "registration/base.html" %}

{% load bootstrap3 %}
{% load static %}  

{% block title %}Longevos / Login{% endblock %}

{% block content %}  
  <hr>
  <div class="row">    
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <center>
        <br>
        <img src="{% static 'core/img/logo_si.png' %}" class="img-responsive" style="max-width: 250px;">        
      </center> 
      <center>       
        <h3>História</h3>
        <p>
          Este trabalho visa complementar o sistema projetado e implementado por Aloísio Kneipp
          dos Santos, nominado de "Sistemas Pervasivos Integrados por Agentes Inteligentes em 
          JASON e Raspberry Pi", via o projeto e a implementação de um sistema Web para gestão 
          de usuários e seus perfis em ambientes, como cômodos em uma casa, no que se refere a  
          preferências de iluminação e temperatura. <br>
          O sistema Web integra dados de preferências e de usuários na simulação criada por 
          meio de um Web Service. Para isso, as tecnologias Python, Django e Bootstratp são 
          utilizadas para a construção dessa plataforma.
        </p>
      </center>        
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
      <center>
        <br>
        <a href="https://www.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logoUFN_hor.jpg' %}" style="width: 230px;"></a>             
      
        <br><br>
        <h3>Materiais para leitura</h3>       
        <a href="https://tfgonline.lapinf.ufn.edu.br/media/midias/TFG_Aloisio_jpaOLeO.pdf" target="_blank">Trabalho Aloisio Kneipp dos Santos</a><br>                 
      </center> 
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <h3 class="text-center">Área de Usuários</h3>
      <p align="center"><small>Acesse o sistema para manter seus dados atualizados e suas preferências de iluminação e de climatização.</small></p>
      <div class="account-wall">
        <form class="form-signin" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <span class="clearfix"></span>
        <p style="text-align:center;">
          <button type="submit" style="width:100%;" class="btn btn-primary btn-small" >
            {% bootstrap_icon 'glyphicon glyphicon-off' %} Entrar
          </button>
        </p>
        <p style="text-align:center;">
          <a class="btn btn-warning" style="width:100%;" href="">{% bootstrap_icon 'glyphicon glyphicon-flag' %} Resetar senha</a>
        </p> 
        </form>
        <p align="justify"><small>
          Projeto de Trabalho Final de Curso em Sistemas de Informação da Universidade Franciscana, acadêmico Marcelo Silva de Siqueira e do orientador Alexandre Zamberlan.</small>
        </p>
      </div>
      <div class="alert alert-info text-center">
        <p class="text-center">
            <small><a href="https://www.ufn.edu.br/site/ensino/graduacao/sistemas-de-informacao" target="_blank">Sistemas de Informação UFN</a>
            <br>Copyright &copy; <script>document.write(new Date().getFullYear());</script>
        </p>
      </div> 
    </div>
  </div>
    
  <hr>   
{% endblock %}
