<h5>Projeto Final de Graduação no Curso Sistemas de Informação da Universidade Franciscana, do aluno Marcelo Silva de Siqueira, sob orientação
	do professor Alexandre Zamberlan.</h5>

<h5>Este trabalho visa complementar o sistema projetado e implementado por Aloísio Kneipp dos Santos, nominado de "Sistemas Pervasivos Integrados por Agentes 
	Inteligentes em JASON e Raspberry Pi", via o projeto e a implementação de um sistema Web para gestão de usuários e seus perfis em ambientes, como cômodos 
	em uma casa, no que se refere a preferências de iluminação e temperatura.<br><br>
	O sistema Web integra dados de preferências e de usuários na simulação criada por meio de um Web Service. 
	Para isso, as tecnologias Python, Django e Bootstratp são utilizadas para a construção dessa plataforma.
</h5>
	

<h4>Versão:</h4>
<ul>
	<li>1.0 de Novembro de 2023</li>	
</ul>
<h4>Apoio:</h4>
<ul>
	<li>Universidade Franciscana</li>
	<li>Laboratório de Práticas dos Cursos de Informática da UFN</li>
</ul>
<h4>
	Colaboradores:
</h4>
<ul> 	
	<li>Professores:</li>
	<ul>
		<li>Alexandre Zamberlan - orientador</li>
		<li>Ana Paula Canal - avaliador</li>
		<li>Fabrício Tonetto Londero - avaliador</li>
		<li>Sylvio André Garcia Vieira - Coordenador do Laboratório de Práticas</li>
	</ul>		
</ul>
<h4>
	Consultoria:
</h4>
<ul> 
	<li><a href="http://site.ersistemas.info/" target="_blank"> Empresa ER Sistemas</a> - Robertson Ebling dos Santos (egresso do curso de Sistemas de Informação)</li>
</ul>