<h5>Projeto Final de Graduação no Curso Sistemas de Informação da Universidade Franciscana, do aluno Marcelo Silva de Siqueira, sob orientação
	do professor Alexandre Zamberlan.</h5>
	

<h4>Versão:</h4>
<ul>
	<li>1.0 de Novembro de 2023</li>	
</ul>
<h4>Apoio:</h4>
<ul>
	<li>Universidade Franciscana</li>
	<li>Laboratório de Práticas dos Cursos de Informática da UFN</li>
</ul>
<h4>
	Colaboradores:
</h4>
<ul> 	
	<li>Professores:</li>
	<ul>
		<li>Alexandre Zamberlan</li>
		<li>Ana Paula Canal</li>
		<li>Fabrício Tonetto Londero</li>
		<li>Sylvio André Garcia Vieira - Coordenador do Laboratório de Práticas</li>
	</ul>		
</ul>
<h4>
	Consultoria:
</h4>
<ul> 
	<li><a href="http://site.ersistemas.info/" target="_blank"> Empresa ER Sistemas</a> - Robertson Ebling dos Santos (egresso do curso de Sistemas de Informação)</li>
</ul>