{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block actions %}
{% endblock %}

{% block title %}
	{% bootstrap_icon 'flag' %} Gerar relação entre Usuário e Cômodo
{% endblock %}

{% block content %}
<form class="form" role="form" method="POST">
    {% csrf_token %}
    
    {% for error in form.non_field_errors %}
      {% bootstrap_alert error 'danger' %}
    {% endfor %}
    
    <!-- {% bootstrap_form form %} -->

    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Usuário + Cômodo</h2>
      </div>
    </div>

    

    <div class="table-responsive">
      <table class="table table-hover" style="width:100%">
        <tr class="text-center">
          {% bootstrap_field form.usuario %}
        </tr>
        <tr class="text-center">
          {% bootstrap_field form.comodo %}
        </tr>        
        <tr class="text-center">
          {% bootstrap_field form.prioridade %}
        </tr>
        <tr class="text-center">
          {% bootstrap_field form.is_active %}
        </tr>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Iluminação</h2>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <td>
            <h3>Primavera</h3>
          </td>
          <td>
            <h3>Verão</h3>
          </td>
          <td>
            <h3>Outono</h3>
          </td>
          <td>
            <h3>Inverno</h3>
          </td>
        </tr>
        
        <tr>
          <td>
            {% bootstrap_field form.primavera_iluminacao_manha %}
            {% bootstrap_field form.primavera_iluminacao_tarde %}
            {% bootstrap_field form.primavera_iluminacao_noite %}
          </td> 
          
          <td>
            {% bootstrap_field form.verao_iluminacao_manha %}
            {% bootstrap_field form.verao_iluminacao_tarde %}
            {% bootstrap_field form.verao_iluminacao_noite %}
          </td>

          <td>
            {% bootstrap_field form.outono_iluminacao_manha %}
            {% bootstrap_field form.outono_iluminacao_tarde %}
            {% bootstrap_field form.outono_iluminacao_noite %}
          </td>

          <td>
            {% bootstrap_field form.inverno_iluminacao_manha %}
            {% bootstrap_field form.inverno_iluminacao_tarde %}
            {% bootstrap_field form.inverno_iluminacao_noite %}     
          </td>
        </tr>

      </table>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Climatização</h2>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <td>
            <h3>Primavera</h3>
          </td>
          <td>
            <h3>Verão</h3>
          </td>
          <td>
            <h3>Outono</h3>
          </td>
          <td>
            <h3>Inverno</h3>
          </td>
        </tr>
        
        <tr>
          <td>
            {% bootstrap_field form.primavera_climatizacao_manha %}
            {% bootstrap_field form.primavera_climatizacao_tarde %}
            {% bootstrap_field form.primavera_climatizacao_noite %}
          </td> 
          
          <td>
            {% bootstrap_field form.verao_climatizacao_manha %}
            {% bootstrap_field form.verao_climatizacao_tarde %}
            {% bootstrap_field form.verao_climatizacao_noite %}
          </td>

          <td>
            {% bootstrap_field form.outono_climatizacao_manha %}
            {% bootstrap_field form.outono_climatizacao_tarde %}
            {% bootstrap_field form.outono_climatizacao_noite %}
          </td>

          <td>
            {% bootstrap_field form.inverno_climatizacao_manha %}
            {% bootstrap_field form.inverno_climatizacao_tarde %}
            {% bootstrap_field form.inverno_climatizacao_noite %}     
          </td>
        </tr>

      </table>
    </div>
    


    {% buttons submit='Gravar' %}
       <a href="javascript:history.go(-1);" class="btn btn-info" role="button">Voltar</a>
    {% endbuttons %}
</form>
{% endblock %}