{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}
	{% bootstrap_icon 'flag' %} Relação de Usuários com Cômodos
{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-body">
		<form class="form">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					{% bootstrap_field form.pesquisa  %}
				</div>			  
				<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
					<br>
					<button type="submit" class="btn btn-success btn-lg"  style="width: 100%;">{% bootstrap_icon 'search' %} Buscar</button>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
					<br>
					<a href="{% url 'usuariocomodo_create' %}" style="width: 100%;" class="btn btn-md btn-primary btn-lg">{% bootstrap_icon 'floppy-disk' %} Gerar relação</a>
				</div>
			</div>
		</form>
		</div>
	</div>

	<table class="table table-hover">
  		<thead>			
			<th>Usuário</th>
			<th>Cômodo</th>
			<th class="text-center">Prioridade</th>
			<th class="text-center">Ativo</th>  			
			<th class="text-center">Editar</th>  			
  			<th class="text-center">Excluir</th>
  		</thead>

  		<tbody>
  			{% for uc in object_list %}
				<tr>
					<td> {{ uc.usuario }}</td>
					<td> 
						{{ uc.comodo }}<br>
						<small>
							{% for c in uc.comodo.equipamentos.all %}
							{{ c.descricao.lower }}
							{% if forloop.last %}
							.
							{% else %}
							,
							{% endif %}
						{% empty %}
							<i>Nenhum equipamento informado</i>
						{% endfor %}
						</small>
					</td>
					
					<td class="text-center"> {{ uc.prioridade }}</td>
					
					<td class="text-center">
						{% if uc.is_active %}
							{% bootstrap_icon 'thumbs-up' size='sm' %}
						{% else %}
							{% bootstrap_icon 'thumbs-down' size='sm' %}
						{% endif %}
					</td>
					<td class="text-center">
				          {% bootstrap_button content='' href=uc.get_absolute_url button_type='link' icon='edit' button_class='btn btn-primary' size='sm' %}
				    </td>
				    <td class="text-center">
				          {% bootstrap_button content='' href=uc.get_delete_url button_type='link' icon='trash' button_class='btn btn-danger' size='sm' %}
				    </td>
				</tr>
			{% endfor %}
  		</tbody>
	</table>
{% endblock %}